.social a {
	color:#111414;
	border:0;
	font-size: 66px;
	margin-right: 20px;
}
.social a:hover {
	color:#111414;
	background: transparent;
	border:0;
}

.faqs {
	list-style-type: decimal;
}

.faqs li {
	margin-left: 20px;
}

.faqs li strong {
	font-size: 110%;
	display: block;
	margin-bottom: 16px;
}