/**
 * The Basics
 */
body {
	background:#111414;
	font-size: 130%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, blockquote, pre {
	margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-size: 130%;
}

h1 {
	font-size: 160%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 140%;
}

p, li {
	line-height: 1.4em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

img {
	max-width: 100%;
}

/**
 * The coloured stuff
 */
.container-dark.container-top {
	background:#111414 url('img/header.png') repeat;
	padding-top: 80px;
}

.container-dark,
.container-light {
	padding-top: 40px;
	padding-bottom: 40px;
}

.container-dark {
	color: #fff;
	background: #111414;
}

.container-dark a {
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid #fff;
}

.container-dark a:hover {
	color: #111414;
	background: #fff;
	text-decoration: none;
	border-bottom: 2px solid #fff;
}

.container-light {
	color: #111414;
	background: #ffeb3b;
}

.container-light a {
	color: #111414;
	text-decoration: none;
	border-bottom: 2px solid #111414;
}

.container-light a:hover {
	color: #ffeb3b;
	background: #111414;
	text-decoration: none;
	border-bottom: 2px solid #ffeb3b;
}

footer {
	font-size: 80%;
}

footer div {
	padding: 40px 0;
}

a.logo,
a.attachment {
	border: none;
}

a.logo:hover,
a.attachment:hover {
	border: none;
	background: transparent;
}

/**
 * Utilities
 */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.nowrap {
	white-space: nowrap;
}
.noscroll {
	height: 100%;
	overflow: hidden;
}