.container-dark.container-top {
	background: #111414;
}

.event h1 {
	margin-bottom: 10px;
	text-transform: uppercase;
}

.event h3 {
	font-size: 100%;
	margin-bottom: 20px;
}

.location {
	margin-top: 60px;
}

.return-home {
	margin-top: 40px;
}

.return-home a {
	border-bottom: 2px transparent solid;
}

.discuss {
	margin-top: 40px;
}